/* 
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap')
    format('truetype');
}

.fontText {
  font-family: 'Itim', sans-serif;
} */
