.landing-page h1 {
    font-weight: 700;
    font-size: 5.6rem;
}

.banner-button {
    background: #fff;
    border: 1px black solid;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    color: black;
}

.banner-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.banner-button:hover {
    color: #fff;
}

.banner-button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}
