/* Main navigation container */

#navbar {
    width: 100vw;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

/* Logo container */
.logo-container img {
    height: 3rem;
    width: 3rem;
    color: inherit;
}
.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    margin-left: 0.5rem;
    font-family: "EB Garamond", serif;
    /* transform: skewX(-8deg); */
}

/* Menu list */
.menu-list {
    color: inherit;
    display: flex;
    gap: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Menu items */
.menu-item {
    position: relative;
    color: inherit;
}

.menu-item-link {
    font-weight: 600;
}

.menu-item-link:hover {
    color: var(--color-primary);
    transition: color 0.3s;
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    margin-top: 0.1rem;
    flex: auto;
    color: black;
    background-color: rgb(256, 256, 256);
    border-radius: 0.2rem;
    opacity: 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    z-index: 10;
}

.menu-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* Dropdown items */
.dropdown-item-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
}

.dropdown-item-link:hover {
    color: var(--color-primary);
}
