@model ErrorViewModel

@{
    ViewData["Title"] = $"Error {Model.StatusCode}";
}

<div class=" flex items-center flex-col justify-center px-4">
        <h2 class="text-gray-800 font-semibold text-xl mb-2">@Model.Message</h2>
        <environment exclude="Production">
            @if (!string.IsNullOrEmpty(Model.Detail))
            {
                <p class="text-gray-600">@Model.Detail</p>
            }
        </environment>
</div>
