@model List<SharedViewModels.Products.ProductBriefDto>

<div class="list-container">
    <div class="child">
        @foreach (var product in Model)
        {
            <partial name="Components/ProductCard/Default" model="product" />
        }
    </div>
</div>